# Wasp builds everything into the .wasp/ directory.
.wasp/
# Some files are created by the `wasp start` command.
# You may want to track these if you want to recognize changes made by `wasp start`,
# but you should not modify them manually.
.env.server
tsconfig.json
vite.config.ts
# We don't want to track node_modules.
node_modules/
